body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./resources/background.png");
    background-size: cover; /* SCALE THE FUCKING IMAGE to cover canvas */
    background-position: center;
    background-repeat: no-repeat;
    width: 620px;  /* Match your JS dimensions */
    height: 500px;
}