.selfImage {
  width: 400px;
  height: 550px;
  background: url("../../resources/images/self\ photo.jpeg") no-repeat center/cover;
  padding: 15px;
  border-radius: 1px 60%;
  position: relative;
  left: 10px;
  top: 1px;
}

.selfImage:hover {
  background: url("../../resources/images/alt\ self.gif") no-repeat center/cover;
}

section.heroSection
{
    position: absolute;
    width: 440px;
    height: 200px;
    left: 500px;
    top: 300px;
}

table.iconTable
{
    position: absolute;
    left: 500px;
    top: 70px;
}

section.currentProgress
{
    width: 400px;
    height: 300px;
    position: absolute;
    right: 5px;
    top: 70px;
}

section.futureProgress
{
    width: 400px;
    height: 220px;
    position: absolute;
    right: 5px;
    top: 400px;
}
