header
{
    background-color: #4d4979;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;

    z-index: 1;
}

.headerOptions
{  
    display: inline-block;
    position: relative;
    left: 600px;
    top: 0px;
}

a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, sans-serif;
}

a:hover
{
    opacity: 0.5;
}


table.socialOptions
{
    position: absolute;
    left: 10px;
    top: 10px;
}

img.headerIcons
{
    height: 40px;
    width: 40px;
}

button
{
    background-color: rgb(118, 157, 235);
    border-radius: 25px;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    
}

button:hover
{
    background-color: rgb(79, 132, 239);
    color: rgb(0, 0, 0);
}